/* contact styles  */
form {
  padding-left: 1em;
}

.form-column {
  margin-top: 0.75em;
}

.card-column {
  margin-top: 2em;
}

.emoji {
  max-width: 33%;
  height: 33%;
  margin: auto;
  padding-top: 1em;
  background-color: darkslateblue;
}

.faq {
  margin-top: 5rem;
}

.question {
  margin-top: 1.5rem;
  font-weight: 600;
}

.answer {
  font-style: italic;
}

button {
  width: 20rem;
  line-height: 2;
  background-color: #9ccc65 !important;
  font-size: 12pt !important;
  color: black !important;
}

.card{
  background-color: rgb(243, 235, 225);

}
